@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
  /* font-size: 120%; */
  scroll-behavior: smooth;
  color-scheme: dark;
  color: #b4c6d4ab;
}

/* h1 {
  font-family: 'Righteous', sans-serif;
} */

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blue-gradient {
  background: #56ccf2;
  background: linear-gradient(90deg, #091e47c0 0%, #07132e);
  background: -webkit-linear-gradient(90deg, #091e47c0 0%, #07132e);
}

.green-pink-gradient {
  background: '#00cea8';
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: load 1s infinite;
  transform: translate(-50%, -50%);
}

@keyframes load {
  0% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-50%);
    opacity: 0;
  }
}

.menu-btn {
  cursor: pointer;
  position: relative;
  border: none;
  background: transparent;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.menu-btn span {
  position: absolute;
  width: 35px;
  left: 0;
  height: 2.8px;
  background-color: #a06be6;
  border-radius: 4px;
  transition: 0.3s;
}

.menu-btn span:nth-child(1) {
  transform: translateY(-10px);
  width: 25px;
  left: 10px;
}

.menu-btn span:nth-child(3) {
  transform: translateY(10px);
  width: 20px;
  left: 15px;
}

.menu-btn.active span:nth-child(1) {
  width: 25px;
  left: 0;
  transform: translateY(0px) rotate(45deg);
}

.menu-btn.active span:nth-child(3) {
  width: 25px;
  left: 0;
  transform: translateY(0px) rotate(-45deg);
}

.menu-btn.active span:nth-child(2) {
  transform: translateX(-35px);
}

.backdrop {
  transition: 0.3s;
}

.backdrop.active {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(5px);
  z-index: -2;
}

.mob-nav {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #050f24;
  width: 70vw;
  transform: translateX(80vw);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 8rem;
  box-shadow: -10px 0px 30px -15px #2e0a5eaf;
  transition: 0.3s ease-out;
}

.mob-nav.active {
  transform: translateX(0);
}

.cta {
  background-color: #050f24;
  font-weight: 600;
  cursor: pointer;
  color: #a06be6;
  border-radius: 3px;
  border: 1px solid #a06be6;
  transition: 0.3s;
}

.cta:hover {
  transform: translate(-5px, -5px);
  box-shadow: 3px 3px 0 0 #a06be6;
}

.cta-big:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 0 0 #a06be6;
}

.tech-head {
  border: 2px solid #a06be6;
  padding: 4px 0;
  width: 160px;
  min-height: 40px;
  border-radius: 3px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.roll-bar {
  display: block;
  display: flex;
  width: 700px;
  justify-content: center;
  transform: translateX(20%);
  gap: 20px;
  animation: slide 10.5s linear infinite;
}

.roll-bar p {
  min-width: 80px;
}

.tech-logo {
  position: absolute;
  width: 105px;
  height: 90px;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  overflow: hidden;
}

.tech-bar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 770px;
  gap: 20px;
  animation: img_slide 10.5s linear infinite;
}

.tech-bar img {
  display: block;
  width: 90px;
  height: 90px;
}

@keyframes slide {
  0% {
    transform: translateX(20%);
  }

  100% {
    transform: translateX(-97%);
  }
}

@keyframes img_slide {
  0% {
    transform: translateX(14%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/*  Experience */
.exp a::after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background-color: #a06be6;
  transition: 0.3s ease-in;
}

.exp a:hover::after {
  width: 100%;
}

.hero-list li::before {
  content: '▹';
  display: block;
  position: absolute;
  left: -28px;
  top: -4px;
  color: #a06be6;
  font-size: 20px;
}

.exp .desc li::before {
  content: '▹';
  display: block;
  position: absolute;
  left: -20px;
  color: #a06be6;
  font-size: 18px;
}

.li-span::before {
  content: '▹';
  display: block;
  position: absolute;
  left: -20px;
  color: #7585a8;
  font-size: 18px;
}
